{{- $bitwardenEmail := promptStringOnce . "bitwardenEmail" "Bitwarden email address" -}}

[data]
    bitwardenEmail = {{ $bitwardenEmail | quote }}

[scriptEnv]
    BITWARDEN_EMAIL = {{ $bitwardenEmail | quote }}

[hooks.read-source-state.pre]
    command = ".local/share/chezmoi/.install-password-manager.sh"
