#!/bin/bash

echo 'login'
export BW_SESSION=$(bw login {{ .bitwardenEmail }} --raw)

echo 'clone repos'
git clone https://koltempleister:{{ (bitwarden "item" "github.com general repo token").login.password }}@github.com/koltempleister/oh-my-zsh-custom.git ~/.oh-my-zsh-custom 
git clone https://koltempleister:{{ (bitwarden "item" "github.com general repo token").login.password }}@github.com/koltempleister/wiki.git ~/wiki
