#!/bin/bash

echo 'login'
export BW_SESSION=$(bw login {{ .bitwardenEmail }} --raw)

echo 'clone repo's
git clone https://koltempleister@gmail.com:{{ (bitwarden "item" "github.com general repo token").login.password }}/oh-my-zsh-custom.git ~/.oh-my-zsh-custom 
git clone https://koltempleister@gmail.com:{{ (bitwarden "item" "github.com general repo token").login.password }}/wiki.git ~/wiki
