[Desktop Entry]
Name=Gmail 
Exec=/home/jevdheyd/.oh-my-zsh-custom/scripts/webapp/launch_webapp.zsh https://mail.google.com
Type=Application
Icon=utilities-terminal
Terminal=false


