[Desktop Entry]
Name=Kibana (atlas) 
Exec=/home/jevdheyd/.oh-my-zsh-custom/scripts/launch_webapp.zsh https://atlas.vub.be
Type=Application
Icon=utilities-terminal
Terminal=false
