[Desktop Entry]
Name=Proton calendar 
Exec=/home/jevdheyd/.oh-my-zsh-custom/scripts/launch_webapp.zsh https://calendar.proton.me
Type=Application
Icon=utilities-terminal
Terminal=false
