[Desktop Entry]
Name=Microsoft Teams  
Exec=/home/jevdheyd/.oh-my-zsh-custom/scripts/launch_webapp.zsh https://teams.cloud.microsoft
Type=Application
Icon=utilities-terminal
Terminal=false
